body {
	padding-top: 80px;
}

#formTable_filter {
	display: inherit;
	margin-bottom: 0;
	padding-bottom: 0px;
	margin: 0 0 0 0;
}

#userTable_filter {
	display: inherit;
	margin-bottom: 0;
	padding-bottom: 0px;
	margin: 0 0 0 0;
}

#logoutDropdownLink { cursor: pointer; cursor: hand; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* .custom {
	width: 100px !important;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 24px;
} */