html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 80px;
	/* Margin bottom by footer height */
 	margin-bottom: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: silver;
  color: rgba(255, 255, 255, 0.843137);
  margin-bottom: 35px;
} 

.footer-copyright {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	color: rgba(255, 255, 255, 0.843137);
	background-color: silver;
}

.footer-copyright-text {
	margin-top: 5px;
}

#formTable_filter {
	display: inherit;
	margin-bottom: 0;
	padding-bottom: 0px;
	margin: 0 0 0 0;
}

#userTable_filter {
	display: inherit;
	margin-bottom: 0;
	padding-bottom: 0px;
	margin: 0 0 0 0;
}

#logoutDropdownLink { cursor: pointer; cursor: hand; }

/* .sort-item {
	background-color: #fff;
	border: 1.5px solid #eee;
	border-radius: 5px;
} */